{{#if err}}
	<h1> you gave a bad input </h1>
{{else}}
	<h1>We are performing: {{oper}} </h1>
	<h1> Our input was: {{inp}} </h1>
	<h2> We are outputting: {{result}} </h2> 
{{/if}}

<ol>
	{{#each arr}}
		<li> {{this}} </this>
	{{/each}}
</ol>
